<!DOCTYPE html>
<html>

<head>
    <title>Node.js Encode</title>
</head>

<body>
    <form id="myForm" name='myForm' action="/v1/encode" method="POST">
        <h4>Encode Data :</h4>
        <table>
            <tr>
                <td>
                    <textarea name='data' rows="25" cols="75" id="message" placeholder="Please insert json format"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Send" />
                </td>
            </tr>
        </table>
    </form>
</body>

</html>
